* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

header h1 {
    margin: 1rem;
    text-align: center;
    text-shadow: 2px 2px 0px #ffab00, -2px -2px 0px #ffab00, 0px 0px 8px #ff8700;
}
#app{
    width: 60%;
    margin: 0 auto;
}

body {
  font-family: sans-serif;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 2em;
  width: 80%;
  margin: 0 auto;
}
input, textarea, button, p, div, section, article, select {
  display: 'block';
  width: 100%;
  color: #222;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1em;
  margin: 0.5em;
}